.credit-queue-company-details-tab{
    .midScreen{
        // width:95%;
        // margin-left: 2.5%;
        // background:#F6F8FB;
        .row{
            width:100%;
            margin:0;
        }
        .mandatory{
            .mandatory-label{
                font-size: 0.7rem;
                color:#8D8D8D;
                padding-left: 1rem;
                display: flex;
                align-items: center;
                position: relative;
                .searchIcon{
                    position: absolute;
                    font-weight: 500;
                    right: 50%;
                }
            }
            input{
                margin-left: 1rem;
                border:none;
                outline: none;
                font-weight: bold;
                font-size: 0.8rem;
                color:#333;
                // background-color: #F6F8FB;
            }
            input::placeholder{
                color:#333;
            }
            textarea{
                margin-left: 1.6rem;
                border:none;
                outline: none;
                font-weight: bold;
                font-size: 0.8rem;
                color:#333;
                background-color: #F6F8FB;
                resize: none;
            }
            textarea::placeholder{
                color:#333;
            }
            select{
                margin-left: 1rem;
                width:12rem;
                border:none;
                outline: none;
                font-weight: bold;
                font-size: 0.8rem;
                color:#333;
                background-color: #fff;
                // background-color: #F6F8FB;
            }
            select::placeholder{
                color:#333;
            }
            .radioInput33{
                position: relative;
                display: flex;
                align-items: center;
                div{
                    // word-spacing: 1rem;
                    position: absolute;
                  width:70%;
                    display: flex;align-items: center;
                    label{
                        font-size: $font_size_big;//0.7rem;
                        font-weight: bold;
                        color:#333333 !important;
                    }
                }

            }
            .searchDropDown, .searchDropDown2, .searchDropDown3{
                position:relative;
                .input[type="text"]::placeholder{
                    font-size: 0.8rem; // x-small;
                    color:#333333;//#474747
                }
                // .input::-webkit-autofill {
                //     color: #fff !important;
                // }

                .dropList{
                    position:absolute;

                    z-index: 999;
                    width:fit-content;
                    height: 10rem;
                    overflow-y:scroll;
                    left:1.8rem;
                    background-color: #fff;
                    box-shadow:  0px 3px 6px #00000029;
                    border-radius: 5px;
                    opacity: 0;
                    pointer-events: none;
                    ul{
                        margin-left: 0;
                        text-decoration: none;
                        list-style: none;
                        width:100%;
                        padding-left: 0;
                        li{
                            height: 2rem;
                            font-size: 0.8rem;//small;
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            // display: none;
                        }
                        li:hover{
                            cursor: pointer;
                            background-color: #e0e5e7;
                        }
                    }
                }
            }

            .searchDropDown.active .dropList,    .searchDropDown2.active .dropList, .searchDropDown3.active .dropList{
                opacity: 1;
                pointer-events: auto;
                ul{
                    li{

                        display: block
                    }
                }
            }
        }
    }
    .cibil_gauge{
        padding-top: 30px;

        .cibil_gauge_header span:nth-child(1){
            font-size: 0.8rem;
            // padding: 10px;
            border-bottom: 2px solid #2884de;
        }
        .cibil_gauge_header span:nth-child(2){
            font-size: 0.8rem;
            padding: 10px;
        }
    }
    .registered_address{
        margin-top: -90px;

        .registered_address_header{
            font-size: 0.7rem;
            color:#8D8D8D;
            // margin-top: 30px;
        }
    }
    .corprate_address{
        margin-top: 30px;
        .corprate_address_header{
            font-size: 0.7rem;
            color:#8D8D8D;
            // margin-top: 30px;
        }
    }
}
