// .order-tab-primary-root-body{
//     background-color: #c9def5;
//     width:100%;
//     .order-tab-orderDet-body{
//         background-color: #fff;
//         width:100%;
//         margin: 0;
//     }
//     .col-md-12{
//         width: 100%;
//         padding:0 0.3rem;
//         margin-top: 0.1rem;
//         .tab-companyProfile-body{
//             background-color: #fff;
//             width:100%;
//             padding-top: 0.5rem;
            
//             .midScreen2{
//                 width: 95%;
//                 margin-left: 2.5%;
//                 // margin-top: 1rem;
//                 background:#F6F8FB;
//                 border-radius: 10px;
//                 font-family: 'Lato', sans-serif;
//                 .row{
//                     margin: 0;
//                     width:100%;
//                 }
//                 .col-md-12{
//                     padding:0;
//                 }
//                 .greenCheckBox_area{
//                     padding-left: 1.8rem;
//                     position:relative;
//                     .checkbx{
//                         font-family: 'Lato', sans-serif;
//                         font-size: 0.7rem;
//                         font-weight: none;
//                         color:#8D8D8D;
//                     @include greenCheckBox;
//                     }
//                     input{
//                         font-size: 0.8rem;
//                         font-weight: bold;
//                         color:#333;
//                         border:none;
//                         outline: none;
//                         background-color: #F6F8FB;
//                     }
//                     input::placeholder{
//                         color:#333;
                        
//                     }
//                 }
//                 .mandatory{
//                     .mandatory-label{
//                         font-size: 0.7rem;
//                         color:#8D8D8D;
//                         padding-left: 1rem;
//                         display: flex;
//                         align-items: center;
//                     }
//                     input{
//                         margin-left: 1.6rem;
//                         border:none;
//                         outline: none;
//                         font-weight: bold;
//                         font-size: 0.8rem;
//                         color:#333;
//                         background-color: #F6F8FB;
//                     }
//                     input::placeholder{
//                         color:#333;
//                     }
//                     select{
//                         margin-left: 1.6rem;
//                         width:12rem;
//                         border:none;
//                         outline: none;
//                         font-weight: bold;
//                         font-size: 0.8rem;
//                         color:#333;
//                         background-color: #F6F8FB;
//                     }
//                     select::placeholder{
//                         color:#333;
//                     }
//                     .radioInput33{
//                         position: relative;
//                         display: flex;
//                         align-items: center;
//                         div{
//                             // word-spacing: 1rem;
//                             position: absolute;
//                           width:70%;
//                             display: flex;align-items: center;
//                             label{  
//                                 font-size: $font_size_big;//0.7rem;
//                                 font-weight: bold;
//                                 color:#333333 !important;
//                             }
//                         }

//                     }
//                     .searchDropDown, .searchDropDown2, .searchDropDown3{
//                         position:relative;
//                         .input[type="text"]::placeholder{
//                             font-size: 0.8rem; // x-small;
//                             color:#333333;//#474747
//                         }
//                         // .input::-webkit-autofill {
//                         //     color: #fff !important;
//                         // }
                        
//                         .dropList{
//                             position:absolute;

//                             z-index: 999;
//                             width:fit-content;
//                             height: 10rem;
//                             overflow-y:scroll;
//                             left:1.8rem;
//                             background-color: #fff;
//                             box-shadow:  0px 3px 6px #00000029;
//                             border-radius: 5px;
//                             opacity: 0;
//                             pointer-events: none;
//                             ul{
//                                 margin-left: 0;
//                                 text-decoration: none;
//                                 list-style: none;
//                                 width:100%;
//                                 padding-left: 0;
//                                 li{
//                                     height: 2rem;
//                                     font-size: 0.8rem;//small;
//                                     display: flex;
//                                     align-items: center;
//                                     padding-left: 1rem;
//                                     padding-right: 1rem;
//                                     display: none;
//                                 }
//                                 li:hover{
//                                     cursor: pointer;
//                                     background-color: #e0e5e7;
//                                 }
//                             }
//                         }
//                     }
                    
//                     .searchDropDown.active .dropList,    .searchDropDown2.active .dropList, .searchDropDown3.active .dropList{
//                         opacity: 1;
//                         pointer-events: auto;
//                         ul{
//                             li{
                
//                                 display: block
//                             }
//                         }
//                     }
//                 }
                
//                 .turnOverCircles{
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     margin-top: 1rem;
//                     .rounder{
//                         width:7rem;
//                         height: 3rem;
//                         border-radius: 40px;
//                         background-color: #fff;
//                         border:1px solid #BEBEBE; //gray;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         margin-left: 1rem;
//                         margin-right: 1rem;
//                         color:#333333;
//                         font-weight: 700;
//                         font-size: 0.8rem;//small;
//                     }
//                     .rounder:hover{  
//                         background-color:#ACDA90;// rgb(153, 211, 136);
//                         border:1px solid #BEBEBE; //rgb(153, 211, 136);
//                         color:#fff;
//                         cursor:pointer;
//                         transition: all 0.3s ease-in-out;
//                     }
//                     .roundergreen{
//                         width:7rem;
//                         height: 3rem;
//                         border-radius: 40px;
//                         background-color: #ACDA90;//rgb(153, 211, 136);
//                         border:1px solid #BEBEBE;//rgb(153, 211, 136);
//                         color:#fff;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         margin-left: 1rem;
//                         margin-right: 1rem;
//                         font-size: small;
//                     }
//                 }
//                 .preferedCom{
//                     width:100%;
//                     .prefRadios{

//                        div{ 
//                         width: 100%;
//                         display: flex;
//                         justify-content: flex-start;
//                         label{
//                             font-size: 0.7rem;
//                             color:#8D8D8D;
//                             font-weight: bold;
//                         }
//                         input::placeholder{
//                             color:#333333;
//                             font-size: 0.8rem;
//                             font-weight: bold;
//                         }
//                         .checkbx{
//                             display: flex;
//                             align-items: center;
//                             position:relative;
//                             justify-content: center;
//                             @include greenCheckBox;
//                         }
//                        }
//                     }
//                 }
//             }
//         }
//     }
// }